<div class="landing-header">
  
  <kb-page-slider class="slider"
    [(page)]="pageNumber">

    <!-- Pages -->
    <div class="page" 
      *kbPages="let page of pages" 
      [style.background-image]="'url(' + page.image + ')'">

      <div class="header-shadow"></div>
      <div class="page-content">
        <h4 class="page-title center white-text">{{page.title}}</h4>
        <p class="page-text center white-text">{{page.text}}</p>
        <div class="center">
          <a class="btn waves-effect waves-light" *ngFor="let action of page.actions" [href]="action[1]">{{action[0]}}</a>
        </div>
      </div>

    </div>

    <!-- Navigation Buttons -->
    <kb-nav-button class="hide-on-med-and-down" backward [showBackground]="true"
                [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

    <kb-nav-button class="hide-on-med-and-down" forward [showBackground]="true"
                [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

  </kb-page-slider>

</div>