<landing-frame
  [title]="'SoftUI'"
  [logo]="'assets/img/favicon.ico'"
  [menuLinks]="[['Home', '#', 'home'], ['About Us', '#', 'info'], ['Contact', '#', 'phone']]"
  [activeLink]="'Home'"
  [actions]="[['Log In', '#'], ['Sign Up', '#']]"
  [footer]="{ text: 'Soft is the concept' }"
  [copyright]="{ year: 2017, text: 'SoftUI', privacyLink: '#' }">
  
  <landing-header class="header"
    [pages]="[
      {
        image: 'https://newevolutiondesigns.com/images/freebies/city-wallpaper-5.jpg', 
        title: 'Page 01', 
        text: 'Mimicks the functionality of UIPageViewController in pure HTML for mobile web apps, using DOM recycling and CSS3 transitions for near-native performance. Built with Angular 2, and designed to work seamlessly in normal NG2 templates.', 
        actions: [['Begin', '#']] 
      },
      { image: 'http://cdn.wonderfulengineering.com/wp-content/uploads/2014/05/city-wallpaper-1.jpg', title: 'Page 02', text: 'Page text', actions: [['Begin', '#']] }
    ]">
    </landing-header>

  <div class="body">
    <landing-section [color]="blue">Section 1</landing-section>
    <landing-section [color]="orange">Section 1</landing-section>  
  </div>

</landing-frame>